.btn {
	letter-spacing: 2px;
	border: 0;
	@include media-breakpoint-down(xs) {
		display: block;
		width: 100%;
	}
}

.btn-primary {
}

.link {
}

.link-secondary {
}

.btn-animate {
	.arrow {
		transform-origin: 50% 50%;
	}
	&:hover {
		.arrow {
			animation: arrow-move 0.5s;
		}
	}
}

.link-animate {
	.arrow {
		transform-origin: 50% 50%;
	}
	&:hover {
		.arrow {
			animation: arrow-move 0.5s;
		}
	}
}

.btn ~ .btn {
}

@keyframes arrow-move {
	0% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(16px);
	}
	51% {
		transform: translateX(-16px);
	}
	100% {
		transform: translateX(0);
	} // back to start position
}

.btn--reset {
	border: none;
	margin: 0;
	padding: 0;
	width: auto;
	overflow: visible;

	background: transparent;

	/* inherit font & color from ancestor */
	color: inherit;
	font: inherit;

	/* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
	line-height: normal;

	/* Corrects font smoothing for webkit */
	-webkit-font-smoothing: inherit;
	-moz-osx-font-smoothing: inherit;

	/* Corrects inability to style clickable `input` types in iOS */
	-webkit-appearance: none;

	/* Remove excess padding and border in Firefox 4+ */
	&::-moz-focus-inner {
		border: 0;
		padding: 0;
	}
}
